{% extends "base.html" %}

{% block content %}

{% include "includes/navbar.html" %}

<div class="container py-5">

    <!-- MATCH HEADER -->
    <div class="text-center text-white mb-5">

        <h2 class="fw-bold">
            {{ match.team1.team_name }}
            VS
            {{ match.team2.team_name }}
        </h2>

        <p>
            {{ match.venue }}
        </p>

        {% comment %} <p>
            {{ match.match_date }}
        </p> {% endcomment %}

        {% if match.winner %}

        <div class="fs-3">

            {{ match.winner.team_name }}
            won the match

        </div>

        {% endif %}

    </div>

    <!-- SCORE SECTION -->
    <div class="stadium-card p-4 rounded-4 shadow-sm mb-5">

        {% for scores in score %}

        <div class="d-flex align-items-center justify-content-between mb-4">

            <div class="d-flex align-items-center gap-3">

                <img src="{{ scores.batting_team.logo.url }}" width="55" height="55">

                <div>

                    <h5 class="m-0">
                        {{ scores.batting_team.team_name }}
                    </h5>

                    <!-- <small class="text-muted">
                        Innings {{ scores.innings }}
                    </small> -->

                </div>

            </div>

            <div class="text-end">

                <h4 class="fw-bold m-0">

                    {{ scores.runs }}/{{ scores.wickets }}

                </h4>

                <small>

                    {{ scores.overs }} Overs

                </small>

            </div>

        </div>

        {% endfor %}

    </div>

    <!-- TEAM VS TEAM -->
    <div class="row g-4">

        <!-- LEFT SIDE TEAM -->
        <div class="col-lg-6">

            <div class="card border-0 shadow rounded-4 h-100" style="background-image: url('{{ match.team1.bg_img.url }}');
    background-repeat: no-repeat;
    background-size: cover;">

                <!-- TEAM HEADER -->
                <div class="p-4 text-center">

                    <img src="{{ match.team1.logo.url }}" width="90" class="mb-3">

                    <h3 class="fw-bold text-white">
                        {{ match.team1.team_name }}
                    </h3>

                </div>

                <!-- PLAYERS -->
                <div class="p-4">

                    {% for player in scorecards %}

                    {% if player.team == match.team1 %}

                    <div class="border rounded-3 p-3 mb-3 sc-bg">
                        <div class="d-flex align-items-center gap-3">

                            <img src="{{ player.player.profile.url }}" class="score-img">

                            <div>

                                <div class="d-flex align-items-center gap-2">
                                    <h6 class="m-0">
                                        {{ player.player.player_name }}
                                    </h6>
                                    {% load static %}

                                    {% if player.player.nationality != "Indian" %}
                                    <img src="{% static 'images/flight.png' %}" alt="flight-icon" class="flight-icon">
                                    {% endif %}
                                </div>

                                <small class="text-muted">
                                    {{ player.player.role }}
                                </small>

                            </div>

                        </div>

                        <hr>

                        <div class="row text-center">

                            <div class="col">
                                <strong>{{ player.runs }}</strong>
                                <p class="m-0 small">Runs</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.balls }}</strong>
                                <p class="m-0 small">Balls</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.fours }}</strong>
                                <p class="m-0 small">4s</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.sixes }}</strong>
                                <p class="m-0 small">6s</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.wickets }}</strong>
                                <p class="m-0 small">Wkts</p>
                            </div>

                        </div>

                    </div>

                    {% endif %}

                    {% endfor %}

                </div>

            </div>

        </div>

        <!-- RIGHT SIDE TEAM -->
        <div class="col-lg-6">

            <div class="card border-0 shadow rounded-4 h-100" style="background-image: url('{{ match.team2.bg_img.url }}'); 
    background-repeat: no-repeat;
    background-size: cover;">

                <!-- TEAM HEADER -->
                <div class="p-4 text-center">

                    <img src="{{ match.team2.logo.url }}" width="90" class="mb-3">

                    <h3 class="fw-bold text-white">
                        {{ match.team2.team_name }}
                    </h3>

                </div>

                <!-- PLAYERS -->
                <div class="p-4">

                    {% for player in scorecards %}

                    {% if player.team == match.team2 %}

                    <div class="border rounded-3 p-3 mb-3 sc-bg">

                        <div class="d-flex align-items-center gap-3">

                            <img src="{{ player.player.profile.url }}" class="score-img">

                            <div>

                                <div class="d-flex align-items-center gap-2">
                                    <h6 class="m-0">
                                        {{ player.player.player_name }}
                                    </h6>
                                    {% if player.player.nationality != "Indian" %}
                                    <img src="{% static 'images/flight.png' %}" alt="flight-icon" class="flight-icon">
                                    {% endif %}
                                </div>

                                <small class="text-muted">
                                    {{ player.player.role }}
                                </small>

                            </div>

                        </div>

                        <hr>

                        <div class="row text-center">

                            <div class="col">
                                <strong>{{ player.runs }}</strong>
                                <p class="m-0 small">Runs</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.balls }}</strong>
                                <p class="m-0 small">Balls</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.fours }}</strong>
                                <p class="m-0 small">4s</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.sixes }}</strong>
                                <p class="m-0 small">6s</p>
                            </div>

                            <div class="col">
                                <strong>{{ player.wickets }}</strong>
                                <p class="m-0 small">Wkts</p>
                            </div>

                        </div>

                    </div>

                    {% endif %}

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}